<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Automation Suite" verbose="1">

    <!-- Plain TestNG + Page Object Model tests -->
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Inventory Tests">
        <classes>
            <class name="tests.InventoryTest"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>
    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>

    <!-- Cucumber BDD tests (feature files under src/test/resources/features) -->
    <test name="Cucumber BDD Tests">
        <classes>
            <class name="runners.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
